<section class="login-section">
    <div class="container">
        <div class="login-block">
            <form [formGroup]="form" (ngSubmit)="submit()">
            <h2 class="block__title">
                Поиск сотрудников
            </h2>
            <input type="text" class="login-block__email" placeholder="Email" formControlName="email">
            <input type="password" class="login-block__password" placeholder="Пароль" formControlName="password">
            <button type="submit" class="login-block__button" [disabled]="form.invalid || loader">Войти в личный кабинет</button>
            <div class="line"></div>
            <a class="login-block__registration" [routerLink]="['/', 'employee-registration']">
                Регистрация для поиска сотрудников
            </a>
            </form>
        </div>
        <div class="employee-block">
            <h2 class="block__title">
                Поиск работы
            </h2>
            <p class="employee-block__text">
                Публикация резюме и поиск вакансий
            </p>
            <a class="employee-block__link" [routerLink]="['/login', 'applicant-login']">
                Я ищу работу
            </a>
        </div>
    </div>
</section>
