.login-block {
    max-width: 450px;
    margin: 0 auto 40px auto;
    border-radius: 3px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
    padding: 20px;
}

.block__title{
    font-family: 'Arial', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: #333;
    line-height: 21px;
    margin-bottom: 15px;
}

input{
    width: 100%;
    height: 38px;
    padding: 0 11px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    line-height: 36px;
    outline: none;
    margin-bottom: 10px;
}

input:hover {
    border-color: #999;
    box-shadow: inset 0 2px 1px rgb(51 51 51 / 17%);
}

input:focus{
    border-color: #1e88e5;
}

.login-block__button {
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    height: 38px;
    padding: 0 15px;
    border: 1px solid;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 36px;
    background-color: #1e88e5;
    outline: none;
    color: #fff;
}

.login-block__button:hover {
    background-color: #187BD1;
}

.line {
    border-top: 1px solid #cbd1d4;
    margin: 20px 0;
}

.login-block__registration{
    color: #2998ff;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 21px;
    cursor: pointer;
}
.login-block__registration:hover{
    color: #E01460;
}

.employee-block{
    max-width: 450px;
    margin: 0 auto;
    border-radius: 3px;
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
    padding: 20px;
}

.employee-block__text{
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
    margin-bottom: 15px;
}

.employee-block__link{
    border-radius: 100px;
    padding: 10px 15px;
    color: #1e88e5;
    background-color: transparent;
    cursor: pointer;
    height: 38px;
    border: 1px solid #1e88e5;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 36px;
}

.employee-block__link:hover{
    background-color: #187BD1;
    color: #fff;
}
