.profile-content{
    height: 32px;
    color: #333;
    font-size: 14px;
    margin-right: 50px;
}

.profile-content:hover{
    color: #1E88E5;
}

.profile-active{
    color: #1E88E5;
    cursor: default;
    position: relative;
}

.profile-active:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: inherit;
    height: 2px;
    background-color: #1E88E5;
    right: 0;
    margin: 0 auto;
    display: block;
}
