<section class="main-section">
    <div class="container">
        <div class="main-section__inner">
            <h1 class="page-title">
                Настройки
            </h1>
            <a [routerLink]="['/applicant/profile', 'name-and-surname']" class="profile-content" routerLinkActive="profile-active">Имя и фамилия</a>
            <a [routerLink]="['/applicant/profile', 'password']" class="profile-content" routerLinkActive="profile-active">Пароль</a>
            <router-outlet></router-outlet>
        </div>
    </div>
</section>
