<div class="category">
    <h2 class="category__title">
        Пароль
    </h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="under-category">
        <p class="input-title">
            Старый Пароль
        </p>
        <input type="password" class="category-input"  formControlName="oldPassword">
    </div>
    <div class="under-category">
        <p class="input-title">
            Новый пароль
        </p>
        <input type="password" class="category-input" formControlName="newPassword" placeholder="не менее 6 символов">
    </div>
    <div class="under-category">
        <p class="input-title">
            Повторите новый пароль
        </p>
        <input type="password" class="category-input" formControlName="repeatedPassword" placeholder="не менее 6 символов">
        <small class="error" *ngIf="form.get('newPassword')?.value != form.get('repeatedPassword')?.value && form.get('repeatedPassword')?.touched">
            Пароли не совпадают
        </small>
    </div>
    <button type="submit" class="save-btn" [disabled]="form.invalid || form.get('newPassword')?.value != form.get('repeatedPassword')?.value && form.get('repeatedPassword')?.touched || loaderButton">Сохранить</button>
    </form>
</div>
