.category{
    max-width: 950px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.category__title{
    font-size: 22px;
    font-weight: normal;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 30px;
}

.under-category{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.input-title{
    font-weight: 400;
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
    width: 20%;
    margin-right: 150px;
}
.category-input{
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    line-height: 36px;
    border-radius: 0;
    height: 38px;
    padding: 0 11px;
    width: 30%;
    outline: none;
    margin-right: 10px;
}
.category-input:hover{
    border-color: #999999;
}
.category-input:focus{
    border-color: #1E88E5;
}

@media (max-width: 950px) {
    .under-category{
        display: block;
    }
    .category-input{
        width: 70%;
        margin-top: 5px;
        margin-left: 0;
    }
}
