.counter{
    font-size: 30px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 30px;
}

.main-section__inner{
    display: flex;
    justify-content: space-between;
}

.main-filter{
    box-shadow: 0 0 2px rgb(5 20 41 / 6%), 0 2px 3px rgb(5 20 41 / 8%);
    border-radius: 8px;
    padding: 16px 24px 24px;
    margin-right: 10px;
}

.first-block-titles{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.first-block__title{
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    color: #0b0d0e;
    padding: 7px 7px 7px 0;
    font-family: 'Inter', 'Arial', sans-serif;
}
.first-block__empty{
    color: #0b71d9;
    font-size: 16px;
    line-height: 28px;
    font-weight: normal;
    padding: 10px;
    cursor: pointer;
    font-family: 'Inter', 'Arial', sans-serif;
    transition: all .1s;
    border: 0;
    background-color: transparent;
}
.main-filter__title{
    font-size: 16px;
    font-family: 'Inter', 'Arial', sans-serif;
    color: #393f47;
    margin: 0 0 12px;
    font-weight: normal;
    line-height: 1.2;
}

.main-filter__ul{
    list-style-type: none;
    padding: 0;
    color: #393f47;
    font: normal 14px 'Inter',Helvetica,Arial,sans-serif;
    line-height: 1.2;
    width: 250px;
    margin: 0 0 30px;
}
.main-filter__li{
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.main-filter label{
    margin: 0  0 0 8px;
}
.li__input{
    background-color: #0b71d9;
    width: 20px;
    height: 20px;
    margin: 0 2px;
    border-radius: 20px;
}

.filter{
    height: 38px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    padding: 0 26px 0 11px;
    background-color: #fff;
    text-align: left;
    cursor: pointer;
    outline: none;
    margin-right: 10px;
    margin-bottom: 30px;
}
.filter:hover{
    border-color: #999999;
}
.filter:focus{
    border-color: #1E88E5;
}

/* ------------------------ */

.vacancy-block{
    padding: 20px 20px;
    border: 1px solid #E7E7E7;
}

.title-salary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.title-salary__title{
    font-family: Arial,sans-serif;
    color: #09f;
    font-size: 18px;
    font-weight: 400;
}

.title-salary__salary{
    font-size: 18px;
    font-family: Arial,sans-serif;
    color: #333;
}

.vacancy-block__company{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 0.5px;
    margin-bottom: 5px;
}

.vacancy-block__city{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    letter-spacing: 0.5px;
}

.vacancy-block__description{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.vacancy-block__bid{
    height: 30px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 28px;
    color: #fff;
    background-color: #1e88e5;
    border: 1px;
    border-radius: 100px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    transition: all .4s;
    margin-right: 15px;
}
.vacancy-block__bid:hover{
    background-color: #187BD1;
}

.vacancy-block__featured{
    color: #5c9fdb;
    outline: none;
    border: 0;
    cursor: pointer;
    background: transparent;
    transition: color .1s,opacity .1s;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.vacancy-block__featured:hover{
    color: #E41460;
}

.date{
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 1.571;
    font-family: 'Arial', sans-serif;
}

.already{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    display: inline-block;
    margin-right: 15px;
}

@media (max-width: 950px) {
    .first-block{
        display: none;
    }
}

@media (max-width: 950px) {

    .title-salary{
        display: block;
    }
    .title-salary__title{
        margin-bottom: 10px;
    }

}

@media (max-width: 750px) {
    .counter{
        font-size: 24px;
    }
    .date{
        float: none;
        margin-top: 10px;
    }
}
