<section class="create-resume-section">
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="create-resume__inner">
            <h1 class="page-title">
                Ваше резюме
            </h1>
            <div class="category">
                <h2 class="category__title">
                    Контактные данные
                </h2>
                <div class="under-category">
                    <p class="input-title">
                        Имя
                    </p>
                    <input type="text" class="category-input" placeholder="Имя" formControlName="name">
                </div>
                <div class="under-category">
                    <p class="input-title">
                        Фамилия
                    </p>
                    <input type="text" class="category-input" placeholder="Фамилия" formControlName="surname">
                </div>
                <div class="under-category">
                    <p class="input-title">
                        Мобильный телефон
                    </p>
                    <input type="text" class="category-input" placeholder="+7" formControlName="mobile">
                </div>
                <div class="under-category">
                    <p class="input-title">
                        Город проживания
                    </p>
                    <input type="text" class="category-input" placeholder="Город" formControlName="city">
                </div>
            </div>

            <div class="category">
                <h2 class="category__title">
                    Основная информация
                </h2>
                <div class="under-category">
                    <p class="input-title">
                        Дата рождения
                    </p>
                    <div class="date-input">
                        <input type="text" class="date-input__day" placeholder="День" formControlName="day">
                        <select class="date-input__month" formControlName="month">
                            <option value="" selected></option>
                            <option value="январь">январь</option>
                            <option value="февраль">февраль</option>
                            <option value="март">март</option>
                            <option value="апрель">апрель</option>
                            <option value="май">май</option>
                            <option value="июнь">июнь</option>
                            <option value="июль">июль</option>
                            <option value="август">август</option>
                            <option value="сентябрь">сентябрь</option>
                            <option value="октябрь">октябрь</option>
                            <option value="ноябрь">ноябрь</option>
                            <option value="декабрь">декабрь</option>
                        </select>
                        <input type="text" class="date-input__year" placeholder="Год" formControlName="year">
                    </div>
                </div>

                <div class="under-category category-gender">
                    <p class="input-title">
                        Пол
                    </p>
                    <div class="gender-input">
                        <div class="gender">
                            <select class="date-input__month" formControlName="gender">
                                <option value="мужской" selected>мужской</option>
                                <option value="женский">женский</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="category">
                <h2 class="category__title">
                    Специальность
                </h2>
                <div class="under-category">
                    <p class="input-title">
                        Желаемая должность
                    </p>
                    <input type="text" class="category-input" formControlName="jobTitle">
                </div>

                <div class="under-category">
                    <p class="input-title">
                        Зарплата
                    </p>
                    <input type="number" class="category-input salary-amount" formControlName="salary">
                    <select class="select-count" formControlName="currency">
                        <option value="KZT" selected>KZT</option>
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                    </select>
                </div>
            </div>


            <div class="category">
                <h2 class="category__title">
                    Опыт работы
                </h2>
                <div class="under-category">
                    <p class="input-title">
                        О себе
                    </p>
                    <textarea class="text-area" formControlName="aboutMe" cols="30" rows="10"
                              placeholder="Расскажите о своих качествах, знаниях, увлечениях, которые, как вам кажется, будут полезны работодателю"></textarea>
                </div>
            </div>

            <div class="category">
                <h2 class="category__title">
                    Образование
                </h2>
                <div class="under-category">
                    <p class="input-title">
                        Уровень
                    </p>
                    <select class="education-select" formControlName="educationType" (ngModelChange)="educationType()">
                        <option value="Среднее">Среднее</option>
                        <option value="Среднее специальное">Среднее специальное</option>
                        <option value="Неоконченное высшее">Неоконченное высшее</option>
                        <option value="Бакалавр">Бакалавр</option>
                        <option value="Магистр">Магистр</option>
                        <option value="Кандидат наук">Кандидат наук</option>
                        <option value="Доктор наук">Доктор наук</option>
                    </select>
                </div>

                <div class="under-category" *ngIf="!educationTypeHide">
                    <p class="input-title">
                        Учебное заведение
                    </p>
                    <input type="text" class="category-input" placeholder="Название или аббревиатура" formControlName="institution">
                </div>

                <div class="under-category" *ngIf="!educationTypeHide">
                    <p class="input-title">
                        Факультет
                    </p>
                    <input type="text" class="category-input" formControlName="faculty">
                </div>

                <div class="under-category" *ngIf="!educationTypeHide">
                    <p class="input-title">
                        Специализация
                    </p>
                    <input type="text" class="category-input" formControlName="specialization">
                </div>

                <div class="under-category" *ngIf="!educationTypeHide">
                    <p class="input-title">
                        Год окончания
                    </p>
                    <input type="text" class="date-input__year" placeholder="Год" formControlName="graduateYear">
                    <p class="notation">Если учитесь в настоящее время — укажите год предполагаемого окончания</p>
                </div>
                <button type="submit" class="save-btn" [disabled]="form.invalid || loadButton">Сохранить и опубликовать</button>
                <small class="error" *ngIf="form.invalid && form.touched">Заполните все поля либо проверьте валидность данных</small>
            </div>
        </div>
        </form>
    </div>
</section>
