.page-title{
    font-size: 36px;
    font-weight: 400;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 50px;
}
.category{
    max-width: 750px;
    margin-bottom: 50px;
}
.category__title{
    font-size: 22px;
    font-weight: normal;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin-bottom: 30px;
}

.under-category{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.input-title{
    font-weight: 400;
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
    width: 30%;
    margin-right: 150px;
}

.category-input{
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    line-height: 36px;
    border-radius: 0;
    height: 38px;
    padding: 0 11px;
    width: 50%;
    outline: none;
}
.category-input:hover{
    border-color: #999999;
}
.category-input:focus{
    border-color: #1E88E5;
}
.date-input{
    display: flex;
}
.date-input__day, .date-input__year{
    width: 4.5em;
    outline: none;
    height: 38px;
    padding: 0 11px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    line-height: 36px;
}
.date-input__month{
    height: 38px;
    padding: 0 11px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    outline: none;
    background-color: #fff;
}
.date-input__day:hover, .date-input__year:hover, .date-input__month:hover{
    border-color: #999;
}

.date-input__day:focus, .date-input__year:focus, .date-input__month:focus{
    border-color: #1E88E5;
}

label{
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin-left: 10px;
}
.gender-radio{
    border-color: #1e88e5;
    width: 16px;
    height: 16px;
    border-radius: 16px;
}
.gender{
    margin-bottom: 5px;
}
.salary-amount{
    width: 30%;
}
.select-count{
    height: 38px;
    padding: 0 11px;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    background-color: #fff;
    outline: none;
    margin-left: 10px;
}
.select-count:hover{
    border-color: #999;
}
.select-count:focus{
    border-color: #1e88e5;
}

textarea{
    height: auto;
    border: 1px solid #999;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    padding: 10px 11px;
    min-height: 48px;
    vertical-align: top;
    resize: vertical;
    width: 50%;
    outline: none;
}
textarea:hover{
    border-color: #999;
}
textarea:focus{
    border-color: #1e88e5;
}

.education-select{
    height: 38px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    padding: 0 26px 0 11px;
    background-color: #fff;
    outline: none;
    width: 40%;
}
.notation{
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: #999;
    width: 40%;
    margin-left: 10px;
}


@media (max-width: 950px) {
    .under-category{
        display: block;
    }
    .input-title{
        margin-bottom: 10px;
    }
    .notation{
        margin-top: 10px;
        margin-left: 0;
    }
    .category-input{
        width: 70%;
    }
    textarea{
        width: 100%;
    }

}

@media (max-width: 750px) {
    .category-input{
        width: 100%;
    }
    .select-count{
        width: 100%;
        margin-left: 0;
        margin-top: 10px;
    }
}
