.searcher{
    background-color: #f9f9f9;
    height: 60px;
    border-bottom: #EEEEEE;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}
.searcher__inner{
    display: flex;
    max-width: 1220px;
    margin: 20px auto 0 auto;
    padding: 0 10px;
}

.searching__text{
    border: 1px solid #cbd1d4;
    width: 50%;
    font-size: 16px;
    font-family: Arial,sans-serif;
    color: #333;
    height: 38px;
    padding: 0 11px;
    background-color: #fff;
    line-height: 36px;
    letter-spacing: 0.5px;
    outline: none;
}
.searching__text:focus{
    border: 1px solid #0f8fee;
}

.searching__btn-sub{
    background-color: #0f8fee;
    color: #fff;
    padding: 0 15px;
    font-size: 14px;
    line-height: 36px;
    height: 38px;
    cursor: pointer;
    border: 1px solid #0f8fee;
    width: 90px;
    outline: none;


}

.searching__btn-sub:hover{
    background-color: #0e81d6;
    border-color: #0e81d6;
}

@media (max-width: 750px) {
    .logo__items{
        display: none;
    }
    .create-resume{
        display: none;
    }
    .menu__list-link-icons-btn{
        display: inline-block;
    }
    .logout{
        display: none;
    }
}
