<header class="header">
    <div class="header__inner">
        <div class="logo">
            <a [routerLink]="['/applicant', 'vacancies']" class="logo__link">
                <img class="logo__img" src="assets/logo/logo.png" alt="logo">
            </a>
            <a [routerLink]="['/applicant', 'bids']" class="logo__items" routerLinkActive="active">
                Отклики
            </a>
            <a [routerLink]="['/applicant', 'vacancies']" class="logo__items" routerLinkActive="active">
                Вакансии
            </a>
        </div>
        <nav class="header__menu">
            <ul class="menu__list">
                <li class="menu__list-item create-resume">
                    <a [routerLink]="['/applicant', 'create-resume']"  class="menu__list-link" routerLinkActive="active-btn">Резюме</a>
                </li>
                <li class="menu__list-item">
                    <a [routerLink]="['/applicant', 'featured']" class="menu__list-link-icons" routerLinkActive="active active-icon">
                        <img class="icons-star" src="assets/icons/star.svg" alt="star">
                    </a>
                    <a [routerLink]="['/applicant', 'profile']" class="menu__list-link-icons" routerLinkActive="active active-icon">
                        <img class="icons-user" src="assets/icons/user.svg" alt="user">
                    </a>
                    <button class="menu__list-link-icons-btn" (click)="toggleShow()">
                        <i class="fa fa-bars"></i>
                    </button>
                <li class="menu__list-item logout">
                    <a class="menu__list-logout" (click)="logout()">Выход</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<section class="dropdown" *ngIf="isShown" (resized)="onResized($event)">
    <div class="container">
        <div class="dropdown__items">
            <a [routerLink]="['/applicant', 'vacancies']" (click)="toggleShow()" class="dropdown-item" routerLinkActive="active-drop">
                Вакансии
            </a>
            <a [routerLink]="['/applicant', 'bids']" (click)="toggleShow()" class="dropdown-item" routerLinkActive="active-drop">
                Отклики
            </a>
            <a class="dropdown-item" routerLinkActive="active-drop" (click)="logout()">
                Выйти
            </a>
            <a [routerLink]="['/applicant', 'create-resume']" (click)="toggleShow()" class="dropdown-item create" routerLinkActive="active-drop">
                Создать резюме
            </a>
        </div>
    </div>
</section>
<section class="search" *ngIf="!isShown">
    <div class="searcher">
        <div class="searcher__inner">
            <input type="text" class="searching__text" name="content" placeholder="Найти вакансию"
                   autocomplete="off">
            <button type="submit" class="searching__btn-sub">Найти</button>
        </div>
    </div>
</section>
<router-outlet *ngIf="!isShown"></router-outlet>
