<section class="main-section">
    <div class="container">
        <h1 class="page-title">
            Избранные вакансии
        </h1>
        <p class="empty-page__text" *ngIf="vacancies.length == 0">
            У вас нет избранных вакансий

            Если вам понравилась вакансия, которую вы нашли в нашем поиске, вы можете добавить её в избранное, чтобы
            не
            потерять её и вернуться к ней позже
        </p>
        <div class="vacancy-block" *ngFor="let vacancy of vacancies">
            <div class="title-salary">
            <p class="vacancy-block__title">
             {{vacancy.jobTitle}}
            </p>
            <span class="title-salary__salary">
             {{vacancy.salary}}
            </span>
            </div>
            <p class="vacancy-block__company">
             {{vacancy.companyTitle}}
            </p>
            <p class="vacancy-block__city">
              {{vacancy.city}}
            </p>
            <p class="vacancy-block__description">
              {{vacancy.description}}
            </p>

            <button type="button" (click)="makeBid(vacancy.id)" class="make-bid" #makeBidButton>Откликнуться</button>
            <p class="already" #already>Вы отклинулись</p>
            <button type="button" (click)="deleteFromList(vacancy.id)" class="delete" #deleteButton>Удалить из списка</button>
            <p class="already-deleted" #deletedAlready>Вакансия будет удалена из списка</p>
        </div>
    </div>
</section>
