.main-section__title{
    font-size: 36px;
    font-weight: 400;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
}

.vacancy-block{
    padding: 20px;
    border: 1px solid #e7e7e7;
    max-width: 800px;
    margin-bottom: 10px;
}
.title-salary{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.vacancy-block__title{
    font-family: Arial,sans-serif;
    font-weight: 400;
    font-size: 18px;
    color:#2998ff;
}
.title-salary__salary{
    font-size: 18px;
    font-family: Arial,sans-serif;
    color: #333;
}

.vacancy-block__company{
    cursor: default;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: #999;
    margin-top: 15px;
}
.vacancy-block__city{
    cursor: default;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    color: #999;
    margin-top: 5px;
}
.vacancy-block__description{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.make-bid{
    display: inline-block;
    padding: 0 15px;
    border-radius: 100px;
    height: 30px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 28px;
    color: #fff;
    background-color: #1e88e5;
    border: 0;
    cursor: pointer;
    margin-top: 10px;
}
.make-bid:hover{
    border-color: #187BD1;
}

.already{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    display: none;
    margin-top: 10px;
}
.delete{
    border: 0;
    background-color: transparent;
    color: #008000;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    cursor: pointer;
    margin-left: 10px;
}
.delete:hover{
    color: #DE2A85;
}
.already-deleted{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    display: none;
    margin-top: 10px;
}
@media (max-width: 950px) {

    .title-salary{
        display: block;
    }
    .title-salary__title{
        margin-top: 5px;
    }

}
