<div class="category">
    <h2 class="category__title">
        Имя и Фамилия
    </h2>
    <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="under-category">
        <p class="input-title">
            Имя
        </p>
        <input type="text" class="category-input" placeholder="Имя" formControlName="name">
        <small class="error" *ngIf="form.get('name')?.errors?.pattern">
            Имя может состять только из букв
        </small>
    </div>
    <div class="under-category">
        <p class="input-title">
            Фамилия
        </p>
        <input type="text" class="category-input" placeholder="Фамилия" formControlName="surname">
        <small class="error" *ngIf="form.get('surname')?.errors?.pattern">
            Фамилия может состять только из букв
        </small>
    </div>
    <button type="submit" class="save-btn" [disabled]="form.invalid || loaderButton">Сохранить</button>
    </form>
</div>

