<section class="main-section">
    <div class="container">
        <div class="main-section__inner">
            <h1 class="page-title">
                Отклики
            </h1>
            <p class="empty-page__text" *ngIf="bids.length == 0">
                У вас пока нет откликов
            </p>
            <div class="bids-block" *ngFor="let bid of bids">
                <div class="title-date">
                    <a class="title-date__title">
                        {{bid.jobTitle}}
                    </a>
                    <p class="title-date__date">
                        {{bid.date}}
                    </p>
                </div>
                <p class="company-title">
                    {{bid.companyTitle}}
                </p>
                <button class="delete-bid" (click)="deleteBid(bid.id)" type="button" #deletedBidButton>Отозвать заявку</button>
                <p class="already" #deleteBidAlready>Заявка была отозвана</p>
            </div>
        </div>
    </div>
</section>

<section class="recommendation">
    <div class="container">
        <div class="recommendation__inner">
            <h2 class="recommendation__title">
                Вам подойдут эти вакансии
            </h2>
            <div class="recommendation__blocks" *ngFor="let vacancy of recommendedVacancies">
                <div class="title-salary">
                    <a class="block-title">
                        {{vacancy.jobTitle}}
                    </a>
                    <p class="block-salary">
                        {{vacancy.salary}}
                    </p>
                </div>
                <p class="recommendation__company">
                    {{vacancy.companyTitle}}
                </p>
                <p class="recommendation__city">
                    {{vacancy.city}}
                </p>
                <p class="recommendation__description">
                  {{vacancy.description}}
                </p>
                <button type="button" class="recommendation__make-bid" (click)="makeBid(vacancy.id)" #makeBidButton>Откликнуться</button>
                <p class="already" style="display: none;" #makeBidAlready>Вы откликнулись</p>

                <button type="button" class="recommendation__featured" (click)="makeFeatured(vacancy.id)" #saveButton>В избранное</button>
                <p class="already" style="display: none;" #saveAlready>Добавлено</p>
                <p class="date">19 апреля</p>
            </div>
        </div>
    </div>
</section>
