.page-title{
    font-size: 36px;
    font-weight: 400;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 30px;
}
.main-section__inner{
    max-width: 800px;
}
.bids-block{
    margin-bottom: 30px;
}
.title-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3px;
}

.title-date__title{
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #2998ff;
    cursor: default;
}
.title-date__date{
    color: #333;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    cursor: default;
}

.company-title{
    color: #999;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    cursor: default;
    margin-bottom: 15px;
}
.delete-bid{
    color: #2998ff;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
}
.delete-bid:hover{
    color: #DE60A8
}
.already{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #008000;
    display: none;
    cursor: default;
}
.recommendation__title{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 15px;
    color: #333;
    font-family: 'Arial', sans-serif;
}
.recommendation__blocks{
    padding: 20px;
    border: 1px solid #e7e7e7;
    max-width: 950px;
}
.title-salary{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.block-title{
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: #2998ff;
    margin-bottom: 15px;
    cursor: default;
}
.block-salary{
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.recommendation__company, .recommendation__city{
    color: #999;
    font-size: 14px;
    font-family: 'Arail', sans-serif;
    cursor: default;
}
.recommendation__description{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
}
.recommendation__make-bid{
    height: 30px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 28px;
    color: #fff;
    background-color: #1e88e5;
    border: 1px;
    border-radius: 100px;
    padding: 0 15px;
    cursor: pointer;
    outline: none;
    transition: all .4s;
    margin-right: 15px;
    margin-top: 15px;
}

.recommendation__make-bid:hover{
    background-color: #187BD1;
}

.recommendation__featured{
    color: #5c9fdb;
    outline: none;
    border: 0;
    cursor: pointer;
    background: transparent;
    transition: color .1s,opacity .1s;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}
.recommendation__featured:hover{
    color: #E41460;
}
.date{
    float: right;
    color: #b2b2b2;
    font-size: 14px;
    line-height: 1.571;
    font-family: 'Arial', sans-serif;
}


@media (max-width: 750px) {
    .date{
        float: none;
        margin-top: 10px;
    }
    .title-salary{
        display: block;
    }
    .block-salary{
        font-size: 14px;
        margin-top: 1px;
        margin-bottom: 5px;
    }
}
