<section class="registration-section">
    <div class="container">
        <div class="registration-block">
            <form [formGroup]="form" (ngSubmit)="submit()">
            <h2 class="block-title">
                Регистрация для работодателей
            </h2>
            <h5 class="input-title">
                Имя
            </h5>
            <input type="text" class="input" placeholder="Ваше имя" formControlName="firstname">
            <small class="error" *ngIf="form.get('firstname')?.errors?.pattern">
                Имя может состять только из букв
            </small>
                <h5 class="input-title">
                    Фамилия
                </h5>
                <input type="text" class="input" placeholder="Ваша фамилия" formControlName="lastname">
                <small class="error" *ngIf="form.get('lastname')?.errors?.pattern">
                    Фамилия может состять только из букв
                </small>
            <h5 class="input-title">
                Email
            </h5>
            <input type="text" class="input" placeholder="info@company.com" formControlName="email">
            <small class="error" *ngIf="form.get('email')?.errors?.email && form.get('email')?.touched">
                Email некорректный
            </small>
            <p class="input-text">
                Используйте свою рабочую электронную почту
            </p>
            <h5 class="input-title">
                Пароль
            </h5>
            <input type="password" class="input" placeholder="Не менее 6 символов" formControlName="newPassword">
                <h5 class="input-title">
                    Повторите пароль
                </h5>
                <input type="password" class="input" placeholder="Не менее 6 символов" formControlName="repeatedPassword">
                <small class="error" *ngIf="form.get('newPassword')?.value != form.get('repeatedPassword')?.value && form.get('repeatedPassword')?.touched">
                    Пароли не совпадают
                </small>
            <h5 class="input-title">
                Название компании
            </h5>
            <input type="text" class="input" placeholder="Astana It University" formControlName="company">
            <button type="submit" class="registration-button" [disabled]="form.invalid || form.get('newPassword')?.value != form.get('repeatedPassword')?.value && form.get('repeatedPassword')?.touched || loader">Зарегистрировать компанию</button>
            </form>
        </div>
    </div>
</section>
