.registration-block{
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 6px 16px rgb(0 0 0 / 20%);
    padding: 32px;
}

.block-title{
    margin-bottom: 24px;
    text-align: center;
    font-size: 22px;
    line-height: 32px;
    color: #333;
    font-family: 'Arial', sans-serif;
}

.input-title{
    font-size: 16px;
    line-height: 24px;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-top: 25px;
    margin-bottom: 5px;
}

.input{
    width: 95%;
    height: 38px;
    padding: 0 11px;
    border: 1px solid #ccc;
    font-size: 14px;
    font-family: Arial,sans-serif;
    color: #333;
    line-height: 36px;
    outline: none;
}

input:hover {
    border-color: #999;
    box-shadow: inset 0 2px 1px rgb(51 51 51 / 17%);
}

input:focus{
    border-color: #1e88e5;
}

.input-text{
    font-size: 14px;
    line-height: 20px;
    color: #7f8b99;
    font-family: 'Arial', sans-serif;
    margin-top: 5px;
}

.registration-button{
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    height: 45px;
    padding: 0 15px;
    border: 1px solid;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    line-height: 36px;
    background-color: #0B71D9;
    outline: none;
    color: #fff;
}

.registration-button:hover{
    background-color: #0A64BF;
}

.error{
    margin-top: 5px;
}
