@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import "~angular-notifier/styles";
*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.header{
    max-width: 100%;
    background-color: #222;
}
.header__inner{
    display: flex;
    max-width: 1220px;
    height: 80px;
    margin: 30px auto 0 auto;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.container{
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 10px;
}
section{
    margin-bottom: 40px;
}

.header a{
    color: #fff;
    text-decoration: none;
    margin-right: 25px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    font-weight: 400;
}

.header a:hover{
    color:#90CCFF;
}
a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Arial', sans-serif;
    outline: none;
}
.logo{
    display: flex;
    align-items: center;
}
.logo__img{
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.menu__list{
    display: flex;
    list-style-type: none;
    align-items: center;
}

.header .menu__list-link{
    background-color: rgba(0,0,0,.2);
    text-decoration: none;
    cursor: pointer;
    height: 38px;
    font-size: 16px;
    font-family: 'Arial', serif;
    line-height: 36px;
    color: #9efba1;
    border-radius: 19px;
    border: 1px solid rgba(158, 251, 161, .5);
    vertical-align: middle;
    padding: 10px 15px;
    letter-spacing: 1px;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
    outline: none;
}


.header .menu__list-link:hover{
    color: #9efba1;
    border: 1px solid  #9efba1;
}

.icons-star{
    width: 30px;
}

.icons-star:hover{
    max-width: 30px;
    content: url('assets/icons/star-hover.svg');
}

.icons-user{
    width: 30px;
    cursor: pointer;
}

.icons-user:hover{
    max-width: 30px;
    content: url('assets/icons/user-hover.svg');
}

.menu__list-link-icons-btn{
    background-color: #222;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
    outline: none;
}
.menu__list-link-icons-btn:hover{
    color: #90CCFF;
}

.dropdown{
    height: 100vh;
    z-index: 10;
    background-color: #fff;
}

.dropdown__items{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.dropdown-item{
    color: #333;
    line-height: 1.4;
    margin-bottom: 30px;
}

.create{
    width: 100%;
    height: 40px;
    line-height: 38px;
    text-align: center;
    color: #2998ff;
    border-radius: 19px;
    transition: color .2s ease-in-out,border-color .2s ease-in-out;
    border: 1px solid rgba(41,152,255,.5);
}
.dropdown-item:hover{
    color: #333;
}
.create:hover{
    border-color: #2998FF;
    color: #2998ff;
}

.page-title{
    font-size: 36px;
    font-weight: 400;
    color: #333;
    font-family: 'Arial', sans-serif;
    margin-bottom: 50px;
}
.active {
cursor: default;
position: relative;
}

.active:hover {
 color: #fff
}

.active:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: inherit;
    height: 2px;
    background-color: #fff;
    right: 0;
    margin: 0 auto;
    display: block;
}

.header .active-btn{
    border-color: #3F5740;
    color: #3F5740;
    cursor: default;
}
.header .active-btn:hover{
    border-color: #3F5740;
    color: #3F5740;
    cursor: default;
}
.save-btn{
height: 46px;
padding: 0 25px;
font-size: 16px;
line-height: 44px;
color: #fff;
border: 0;
font-family: 'Arial', sans-serif;
outline: none;
background-color: #1e88e5;
cursor: pointer;
margin-top: 30px;
margin-bottom: 10px;
}
.save-btn:hover{
    background-color: #187BD1;
}
button:disabled{
    cursor: not-allowed !important;
}
button:disabled:hover {
    background-color: #1e88e5 !important;
}

.error{
    color: red;
    display: block;
    font-family: 'Arial', sans-serif;
}

p, h1, h2, h3, span{
    cursor: default;
}

.active-icon img, .active-icon{
    cursor: default;
}
.active-icon img:hover{
    content: none;
}
.ng-invalid.ng-touched {
    border-color: red !important;
}

.empty-page__text{
    font-family: Arial,sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 21px;
    max-width: 70%;
}


@media (max-width: 1240px) {
    .container{
        max-width: 920px;
    }
}

@media (max-width: 950px) {
    .container{
        max-width: 630px;
    }
}


