<header class="header">
    <div class="header__inner">
        <div class="logo">
            <a [routerLink]="['/', 'vacancies']" class="logo__link">
                <img class="logo__img" src="assets/logo/logo.png" alt="logo">
            </a>
            <a [routerLink]="['/', 'vacancies']" class="logo__items" routerLinkActive="active">
                Главная страница
            </a>
        </div>
        <nav class="header__menu">
            <ul class="menu__list">
                <li class="menu__list-item create-resume">
                    <a [routerLink]="['/', 'login']"  class="menu__list-link" routerLinkActive="active-btn">Вход</a>
                </li>
                <li class="menu__list-item">
                  <button class="menu__list-link-icons-btn" (click)="toggleShow()">
                        <i class="fa fa-bars"></i>
                  </button>
            </ul>
        </nav>
    </div>
</header>
<section class="dropdown" *ngIf="isShown" (resized)="onResized($event)">
    <div class="container">
        <div class="dropdown__items">
            <a [routerLink]="'/'" (click)="toggleShow()" class="dropdown-item" routerLinkActive="active-drop">
                Главная страница
            </a>
            <a [routerLink]="['/', 'login']" (click)="toggleShow()" class="dropdown-item" routerLinkActive="active-drop">
                Войти
            </a>
        </div>
    </div>
</section>
<section class="search" *ngIf="!isShown">
    <div class="searcher">
        <div class="searcher__inner">
            <input type="text" class="searching__text" name="content" placeholder="Найти вакансию"
                   autocomplete="off">
            <button type="submit" class="searching__btn-sub">Найти</button>
        </div>
    </div>
</section>
<router-outlet *ngIf="!isShown"></router-outlet>
