<section class="main-section">
    <div class="container">
        <h1 class="counter" *ngIf="vacancies.length > 1">
            Список вакансий
        </h1>
        <h1 class="counter" *ngIf="vacancies.length == 0">
            Вакансий не найдено
        </h1>
        <div class="main-section__inner">
            <div class="first-block" *ngIf="vacancies.length > 0">
                <div class="main-filter">
                    <div class="first-block-titles">
                        <p class="first-block__title">
                            Фильтры
                        </p>
                        <button type="button" class="first-block__empty" (click)="discharge()">
                            Сбросить
                        </button>
                    </div>
                    <ul class="main-filter__ul">
                        <p class="main-filter__title">Зарплата</p>
                        <li class="main-filter__li">
                            <input type="radio" name="salary-input" class="li__input" value="any" [(ngModel)]="salary" id="salary-any">
                            <label for="salary-any">Любая</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="salary-input" class="li__input" value="with salary" [(ngModel)]="salary" id="salary-only">
                            <label for="salary-only">Только с зарплатой</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="salary-input" class="li__input" value="120000" [(ngModel)]="salary" id="salary-120-000">
                            <label for="salary-120-000">от 120 000 тнг</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="salary-input" class="li__input" value="240000" [(ngModel)]="salary" id="salary-240-000">
                            <label for="salary-240-000">от 240 000 тнг</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="salary-input" class="li__input" value="360000" [(ngModel)]="salary" id="salary-360-000">
                            <label for="salary-360-000">от 360 000 тнг</label>
                        </li>
                    </ul>

                    <ul class="main-filter__ul">
                        <p class="main-filter__title">Опыт работы</p>
                        <li class="main-filter__li">
                            <input type="radio" name="experience-input" class="li__input" value="any" [(ngModel)]="experience" id="experience-any">
                            <label for="experience-any">Любой</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="experience-input" class="li__input" value="have" [(ngModel)]="experience" id="experience_yes">
                            <label for="experience_yes">Имеется</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="experience-input" class="li__input" value="do not have" [(ngModel)]="experience" id="experience-no">
                            <label for="experience-no">Не Имеется</label>
                        </li>
                    </ul>

                    <ul class="main-filter__ul">
                        <p class="main-filter__title">Тип занятости</p>
                        <li class="main-filter__li">
                            <input type="radio" name="time-input" class="li__input" value="any" [(ngModel)]="busyness" id="any-part">
                            <label for="any-part">Любая</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="time-input" class="li__input" value="full-time" [(ngModel)]="busyness" id="full-part">
                            <label for="full-part">Полная занятость</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="time-input" class="li__input" value="part-time" [(ngModel)]="busyness" id="half-part">
                            <label for="half-part">Частичная занятость</label>
                        </li>
                    </ul>

                    <ul class="main-filter__ul">
                        <p class="main-filter__title">Размещение</p>
                        <li class="main-filter__li">
                            <input type="radio" name="place-input" class="li__input" value="any" [(ngModel)]="accommodation" id="any-place-id">
                            <label for="any-place-id">Любое</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="place-input" class="li__input"  value="office" [(ngModel)]="accommodation" id="office-id">
                            <label for="office-id">С офиса</label>
                        </li>
                        <li class="main-filter__li">
                            <input type="radio" name="place-input" class="li__input"  value="remote" [(ngModel)]="accommodation" id="remote-id">
                            <label for="remote-id">Удаленно</label>
                        </li>
                    </ul>
                </div>
            </div>


            <div class="second-block">

                <select class="filter first-filter" [(ngModel)]="selectedFilter" *ngIf="vacancies.length > 0">
                    <option value="any">по соответсвию</option>
                    <option value="dropping salary">по убыванию дохода</option>
                    <option value="rising salary">по возростанию дохода</option>
                </select>

                <div class="vacancy-block" *ngFor="let vacancy of vacancies | salary: salary | experience: experience | busyness: busyness | accommodation: accommodation | selectedFilter: selectedFilter">
                    <div class="title-salary">
                        <h3 class="title-salary__title">
                            {{vacancy.jobTitle}}
                        </h3>
                        <span class="title-salary__salary" *ngIf="vacancy.salary != null">
                            {{vacancy.salary}} KZT
                        </span>
                    </div>

                    <p class="vacancy-block__company">
                       {{vacancy.companyTitle}}
                    </p>
                    <p class="vacancy-block__city">
                        {{vacancy.city}}
                    </p>
                    <p class="vacancy-block__description">
                        {{vacancy.description}}
                    </p>

                    <button type="button" class="vacancy-block__bid" (click)="makeBid(vacancy.id)" #makeBidButton>Откликнуться</button>
                    <p class="already" style="display: none;" #makeBidAlready>Вы откликнулись</p>

                    <button type="button" class="vacancy-block__featured" (click)="saveVacancy(vacancy.id)" #saveButton>В избранное</button>
                    <p class="already" style="display: none;" #saveAlready>Добавлено</p>
                    <p class="date">{{vacancy.date}}</p>
                </div>
            </div>
        </div>
    </div>
</section>
